/*setear micss*/

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
/*header*/

header {
  position: relative;
}

nav{
  background-color: white;
  min-height: 130px;
  top: 0px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.box-header {
  display: inline-block;
  margin: 10px 10px 5px 80px;
}

.logo-header {
  width: 40px;
  float: left;
  margin-left: 30px;
}

.menus {
   display: block;
   width: 100%;
   min-height: 70px;
   margin: 5px;
   border-bottom: 1px solid #d3d3d3;
 }
 .sub-menu {
  clear: both;
  display: block;
  width: 100%;
  margin: 0px 12% 0px 12%;
  font-weight: bold;
  padding: 0 5%;

 }

.sub-menu a {
  text-align: center;
  color: #000;
  text-decoration: none;
}

.sub-menu li {
  padding: 20px;
}

ul li{
  display: block;
  float: left;
  list-style: none;
  margin: 5px;
}

.bar-header {
  background-color: #EFEFEF;
  border-radius: 5px;
  margin: 0 16px;
  padding: 8px;
  display: block;
  float: left;
  margin-left: 20px;
  width: 70%;
}

.bar-header div {
  display: inline-block;
}
.search{
  width: 90%;
  height: 20px;
  padding: 2px 30px;
}
.icons-bar {
  font-weight: bold;
  display: block;
  float: right;
  right: 40px;
  top: 50%;

}

.icons-right {
  width: 15%;
  color: #b5b5b5;
  float: left;
  display: block;
  padding: auto auto;
}

.icons-right span{
  font-size: 1.5em;
  margin: 0px 15px;
}


input {

   border: none;
   font-size: 18px;
   outline: 0;
   background-color: transparent;
 }


.boton1 {
  border-radius: 10px;
  background-color: #E69CD4;

}

.boton2 {
  border-radius: 10px;
  background-color: #E6EAE9;
}

.boton3 {
  border-radius: 10px;
  background-color: #9CE6CD;
}

.boton4 {
  border-radius: 10px;
  background-color: #6BDC44;
}

.boton5 {
  border-radius: 10px;
  background-color: #9EAFBF;
}

.boton6 {
  border-radius: 10px;
  background-color: #E7B77B;
}

.boton7 {
  border-radius: 10px;
  background-color: #E77B8A;
}

.boton8 {
  border-radius: 10px;
  background-color: #B47BE7;
}

.boton9 {
  border-radius: 10px;
  background-color: #9D6BAB;
}




/*columnas*/
.images {
 	  padding: 0 80px;
    margin-top: 150px;
    -moz-column-width: 220px;
    -webkit-column-width: 220px;
    column-width: 220px;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
}

.post{
	display: inline-block;
  position: relative;
  margin: 5px;
}
/*fincolumnas*/

/*contenido imagenes*/
.circle {
  height: 5px;
  width: 30px;
  border-radius: 2000px;
  background-color: #d597a1;
  box-sizing: border-box;
  padding-top: 0px;
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.userDate h3 {
  margin-top: 0;
  margin-left: 35px;
  margin-bottom: 0;
  font-weight: bold;
  width: 60%;
}
.userDate p{
  margin-top: 0;
  margin-left: 35px;
  margin-bottom: 0;
  width: 60%;
  font-size: 16px;
}

.icons-images {

  margin-left: 200px;
  margin-top: -190px;
  font-size: 13px;
  position: absolute;
  color:  #C5C2C2;

}

.post img{
  width: 100%;
  border-radius: 25px;
}

/*fin contenido imagenes*/
